<div class="container containerEmpleadoHijo mt-2 mb-3">
  <div class="row">
    <div class="col">
      <div>
        {{ indice + 1 }}: {{ empleadoDeLista.nombre }}
        {{ empleadoDeLista.apellido }} - {{ empleadoDeLista.cargo }} - Salario:
        ${{ empleadoDeLista.salario }}
      </div>
      <ul style="list-style: none">
        <li *ngFor="let caracteristica of arrayCaracteristicas">
          {{ caracteristica | titlecase }}
        </li>
      </ul>
      <app-caracteristicasEmpleado
        (caracteristicasEmpleados)="agregarCaracteristica($event)"
      ></app-caracteristicasEmpleado>
    </div>
  </div>
</div>
